/*I got these colors from Kuler.com*/
body {
	margin: 0 auto;
	background-image:url('http://i1353.photobucket.com/albums/q679/SabrinaHill2013/pattern_135_zps4e6888ac.gif');
}

h1 {
	background-color:darkolivegreen;
	text-align:center;
	font-family: 'Denk One', sans-serif;
	text-shadow:2px 2px #FFF;
}

h2 {
	background-color: rgba(192, 48, 0, 1);
   	font: normal small-caps bold 1.250em Arial, Helvetica, sans-serif;
	text-align:center;
	background-image:url('http://i1353.photobucket.com/albums/q679/SabrinaHill2013/1397804912_Dog_zpsd9c1bba8.png'), url('http://i1353.photobucket.com/albums/q679/SabrinaHill2013/1397804912_Dogcopy_zps69cda489.png');
	background-repeat:no-repeat;
	background-position:left center, right center;
	padding:20px;
	}
h3 {
	background-color: rgb(120,119,70);
	font: italic bold 1.000em Arial, Helvetica, sans-serif;
	letter-spacing:2px
	

	}
p {
	color: hsl(175, 27%, 8%);
	font: italic normal 0.875em Arial, Helvetica, sans-serif;

}
a:link {color:#000;}      /* unvisited link */
a:visited {color:rgba(192, 48, 0, 1); }   /* visited link */
a:hover {color:#FFF; font-style:italic}     /* mouse over link */
a:active {color:#FFF;}    /* selected link */

ol{
list-style-type:square;
list-style-position: inside;
text-align: center;
display:block;

}


.intro 
{
border: 1px solid black;
margin: 1em 1.5em 2em 4.5em;
float:left;
width:80%;
height:100%;
border-radius:25px;
box-shadow: 10px 20px 50px rgba(192, 48, 0, 1);
padding:10px;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffcc), color-stop(42%,#827339)); /* Chrome,Safari4+ */

}

.column1of2
{
border: 1px solid black;
float:left;
width:37%;
height:100%;
margin:5%;
border-radius:25px;
box-shadow: 10px 20px 50px rgba(192, 48, 0, 1);
padding:10px;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffcc), color-stop(42%,#827339)); /* Chrome,Safari4+ */


}
.column2of2
{
border: 1px solid black;
float:right;
width:39%;
height:100%;
margin:5% 14% 0% -100%;
border-radius:25px;
box-shadow: 10px 20px 50px rgba(192, 48, 0, 1);
padding:10px;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffcc), color-stop(42%,#827339)); /* Chrome,Safari4+ */

}

.moreinfo
{
border: 1px solid black;
float:left;
width:25%;
height:100%;
margin:1% 40% 10% 5%;
border-radius:25px;
box-shadow: 10px 20px 50px rgba(192, 48, 0, 1);
padding:10px;
background-image:url('http://i1353.photobucket.com/albums/q679/SabrinaHill2013/1397806454_LocationHTTP_zpsc91e4be4.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffcc), color-stop(42%,#827339)) ; /* Chrome,Safari4+ */;
background-position:left center;
background-repeat:no-repeat;
padding:20px 50px 10px 150px;

}

table,th,td
{
border:1px solid black;
width: 500px;
text-align: center;
padding: 5px;
text-transform:capitalize;
font-size: 14px;
border-spacing:10px 20px;
}


input    {
width:375px;
display:block;
border: 1px solid #999;
height: 25px;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
text-align: center;
padding: 5px;
margin: 2%;
background-color: rgb(120,119,70);
color: #000;
font-size: 16px;

}
input:hover {background-color: rgba(192, 48, 0, 1);}
input:focus{background-color:yellow;}
