/*I got these colors from Kuler.com*/
body {
	background-color:#B4AF91;
	margin: 0 auto;

}

h1 {
	background-color:darkolivegreen;
	text-align:center;
	font-family: 'Denk One', sans-serif;
	text-shadow:2px 2px #FFF;
}

h2 {
	background-color: rgba(192, 48, 0, 1);
   	font: normal small-caps bold 1.250em Arial, Helvetica, sans-serif;
	text-align:center;
	}
h3 {
	background-color: rgb(120,119,70);
	font: italic bold 1.000em Arial, Helvetica, sans-serif;
	letter-spacing:2px
	

	}
p {
	color: hsl(175, 27%, 8%);
	font: italic normal 0.875em Arial, Helvetica, sans-serif;

}
a:link {color:#000;}      /* unvisited link */
a:visited {color:rgba(192, 48, 0, 1); }   /* visited link */
a:hover {color:#FFF; font-style:italic}     /* mouse over link */
a:active {color:#FFF;}    /* selected link */

ol{
list-style-type:square;
list-style-position: inside;
text-align: center;
display:block;

}


.intro 
{
border: 1px solid black;
margin: 1em 1.5em 2em 4.5em;
float:left;
width:80%;
height:100%;
border-radius:25px;
box-shadow: 10px 20px 50px rgba(192, 48, 0, 1);
padding:10px;
}

.column1of2
{
border: 1px solid black;
float:left;
width:37%;
height:100%;
margin:5%;
border-radius:25px;
box-shadow: 10px 20px 50px rgba(192, 48, 0, 1);
padding:10px;

}
.column2of2
{
border: 1px solid black;
float:right;
width:39%;
height:100%;
margin:5% 14% 0% -100%;
border-radius:25px;
box-shadow: 10px 20px 50px rgba(192, 48, 0, 1);
padding:10px;
}

.moreinfo
{
border: 1px solid black;
float:left;
width:80%;
height:100%;
margin:5%;
border-radius:25px;
box-shadow: 10px 20px 50px rgba(192, 48, 0, 1);
padding:10px;

}